

body {
background-color: #000
}

[tx-hacker] {
    position: absolute;
    display:inline-block;
    font-size: 30px;

    background-image: -webkit-linear-gradient(left, #000, #000, #000, #585858, rgb(232, 185, 7));

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: rotate(90deg)

}